[2014-05-19 21:00] eguil opened #1 "Remove i.j loop"
to optimise speed - use of where and argwhere

[2014-05-19 21:06] eguil opened #2 "Add bowl computation and use in bining"
- The bowl is the deepest mixed layer reached over the period of study. It separates the upper ocean (in contact with surface fluxes) from the deeper adiabatic ocean.
- It is a fixed surface in time: bowl(i,j).
- Mixed layer criteria should be density based
- Added comment: looking at CMIP5 output, the right variable would be 'mlotst' but very few models provided it. Alternatively, one could use '

[2014-05-19 21:54] eguil opened #3 "Compute volume of isopycnal"
Requires surface of grid point - find out how to get it from the CMIP5 file

[2014-05-19 22:08] eguil opened #4 "Add option for annual output"
Use before zonal mean
Annual mean quite expensive with cdutils.YEAR
Looking for alternatives

[2014-05-19 23:54] #3 closed, assigned to eguil

[2014-05-19 23:56] eguil opened #5 "Add basin and global rhon-lat zonal means"
Use basin variables in /work/cmip5/fx/fx/basin

[2014-05-20 01:36] eguil opened #6 "Add option to read/write by n years"
- To optimise memory, add option -f <N-years> to read by N-years chunks and write
- requires to append to existing netCDF file

[2014-05-20 01:39] eguil opened #7 "Integrate in Paul's model driver"

[2014-05-30 00:19] #6 closed, assigned to eguil

[2014-05-30 00:21] eguil opened #8 "Transform 2D i,j masked array into 1D non-masked"

[2014-06-05 18:49] #8 closed, assigned to eguil

[2014-06-11 22:44] eguil opened #13 "Interpolate T and S on common grid before all computation ?"
Explore advantages of doing so vs. cost
- common grid and basins definition
- diff with WOA (if that grid is chosen, see Paul)
- diff with OCMIP (see ZonalMeans test)

[2014-06-12 18:38] #13 closed, assigned to eguil

[2014-06-12 18:39] #5 closed, assigned to eguil

[2014-06-12 18:39] #4 closed, assigned to eguil

[2014-06-12 21:38] durack1 opened #14 "WOA - grids and masks for use in regridding and processing"
WOA09 grid files: crunchy:/work/durack1/csiro/climatologies/WOA09_nc/annual
WOA09 mask info (likely need to rewrite to netcdf - Paul):
http://iridl.ldeo.columbia.edu/SOURCES/.NOAA/.NODC/.WOA09/.Masks/
http://www.nodc.noaa.gov/OC5/WOA09/masks09.html

[2014-06-23 19:24] #14 closed, assigned to durack1

[2014-07-08 05:58] eguil opened #15 "Interpolate onto WOA grid and make zonal mean per basin"

[2014-07-08 21:36] durack1 opened #16 "Optimize masks"
- [x] Fold Arctic into Atlantic Ocean
- [x] Fold Southern Ocean into respective basin
- [x] Calculate area mask for volume calculation
- [ ] Convert matrix to be indexed from 20E (cut through Africa) - rotate longitude axis so that interpolation operations generate maps that show complete Pacific, Atlantic and Indian Basins

[2014-08-01 07:30] eguil opened #17 "Performance log"
IPSL-CM5A-LR (size=142x180x31) 240 months:
--> time chunk (bounds) =  1  ( 120 239 )
     read, rhon compute and array init CPU, elapsed: 158.56 164.945918083
   CPU of zonal mean compute and write = 5400 to 5700

 Max memory use 14.534416 GB
 Ratio to grid_nyears 0.864466643986 kB/unit(size_nyears)
 CPU use, elapsed 13244.36 13324.694025
 Ratio to grid_nyears 65.6448083922 1.e-6 sec/unit(size_nye

[2014-08-23 16:28] #2 closed, assigned to eguil

[2014-08-23 16:31] #15 closed, assigned to eguil

[2014-08-25 21:44] #1 closed, assigned to eguil

[2014-09-08 19:16] eguil opened #18 "Surface density transformation"
Compute density bined buoyancy flux, transformation and formation (a la Walin 1982)
Create specific proc surface_transf.py
Will require E-P (wfo) and net downward heat flux over oceans (fields TBD)
![screen shot 2014-09-08 at 21 15 43](https://cloud.githubusercontent.com/assets/7075402/4191305/9177c96a-378c-11e4-9b27-023fbcd68106.jpg)

[2014-09-22 17:30] durack1 opened #19 "Final tweaks to binDensity.py"
So there are a few things to cleanup the code and get it running across all the historical simulations:
- [ ] Fix mask issue [numpy 1.9.0/UV-CDAT2.0 issue to be checked UV-CDAT/uvcdat#628]
- [x] Add more comments - explain code subsections and what they're doing [~DONE]
- [x] Chase down memory usage - can  `del(var) ; gc.collect()` reduce memory footprint? [more to do]
- [x] Output annual mean bin

[2014-11-03 21:45] durack1 opened #23 "volpersist referenced before assignment"
@eguil seems like there's some variable purging/deleting going on which is causing this error:

[code]

[2014-11-04 03:49] durack1 opened #24 "Incorrect axes assignment for volpers"
@eguil another issue with axes assignment, it's a problem with both ACCESS1-0 and GISS-E2_H which were the two models that the parallel jobs ran on:

[code]

[2014-11-04 08:18] #23 closed, assigned to eguil

[2014-11-04 09:51] #24 closed, assigned to eguil

[2014-11-18 17:41] eguil opened #25 "Performing MME"
Issue: masks vary per simulation: how to average ?

[2014-11-18 17:44] eguil opened #26 "Drift ?"
How to deal with drift ?
Remove ?
before bining ?
after ?
compare with PIcntrl ?

[2014-11-18 17:44] eguil opened #27 "Obs bining"
We can start working with the following obs analyses - so generating the equivalent binned fields:
- [x] [EN4 (2013)](http://www.metoffice.gov.uk/hadobs/en4/download-en4-1-1.html) - `crunchy:/work/durack1/Shared/160421_data_density/`
- [x] [Ishii & Kimoto (2009)](http://doi.org/10.1007/s10872‐009‐0027‐7) - `crunchy:/work/durack1/Shared/160421_data_density/`
- [x] [Smith & Murphy (2007)](http://doi

[2014-11-18 17:54] eguil opened #28 "Compare historical to picntrl and histNat"
Use pictrnl to define stdev and detection threshold in historical
Use histNat to attribute impact of GHGs

[2014-11-18 18:06] #7 closed, assigned to durack1

[2014-12-09 19:38] durack1 opened #29 "Paper 1: Methodology - Obs vs models, salinity and temperature changes in density space"
Ideas/focus areas:
- Time of emergence: contrast density vs pressure coordinates
- Does model watermass geography and their gradients play any role in the magnitude of the temporal tendency
- Can the watermass gradient strength be linked to the model's diapycnal diffusivity?

Methods:
- [ ] Drift - what magnitude changes do we see in piControl/HistNat simulations:
  How to deal with drift? Remove

[2014-12-09 19:54] durack1 opened #30 "Add ferret scripts for density basin zonal mean plots"
Eric if you use the following in your commit notes:

`fix #30`

Then this issue should be automagically closed once the commit is pushed to the github repo

[2014-12-09 20:03] durack1 opened #31 "Add tauu and tauv to drive_surface.py"
Adding additional variables to close out tweaks to drive_surface.py - this issue is related, but more specific than surface transformation notes contained in #18

[2014-12-09 20:19] #30 closed, assigned to eguil

[2014-12-09 20:21] #25 closed, assigned to nobody

[2014-12-09 20:57] #31 closed, assigned to durack1

[2014-12-16 23:57] #26 closed, assigned to nobody

[2014-12-16 23:58] #28 closed, assigned to nobody

[2015-01-21 08:55] eguil opened #33 "Performance of binDensity.py"
Work to reduce CPU cost of binDensity
Case study: IPSL-CM5A-LR 12 months
 Bining CPU analysis tc/tcdel =  0 12
    average cpu1 =  0.06
    average cpu2 =  0.555
    average cpu3 =  0.05
    average cpu4 =  5.4725  <---- see below
    average cpu40 =  0.09
    average cpu5 =  0.204166666667

In bining section, the cost is in the interpolation:

            tcpu3 = timc.clock()
            for i in

[2015-01-21 09:07] eguil commented on #33
in Persistence, CPU is in this loop:
                # TODO: can we remove the loop ?
                #print '9a' # Warning: converting a masked element to nan
                tpe1 = timc.clock()
                for i in range(latN*lonN):
                    ptopdepth[i]    = depth_bin[t,p_top[i],i]
                    ptoptemp[i]     = x1_bin[t,p_top[i],i]
                    ptopsalt[i]     = x2

[2015-01-21 21:51] eguil commented on #33
Could this help ?
http://stackoverflow.com/questions/21094438/avoiding-for-loops-interpolate-over-a-dimension-of-a-3d-numpy-array

[2015-01-21 22:31] durack1 commented on #33
@eguil good catch.. I've found a heap of memory issues using some of the scipy interpolate functions in times gone by.. I do think it would be great to really cast the net wide when we're rewriting this stuff.. The more performance we can squeeze out of this the better!

[2015-01-28 10:10] eguil opened #34 "Fix integral computations in persistent ocean"
Average temp, salinity and volume of persistent ocean has a bug

[2015-02-05 09:42] eguil commented on #33
CPU optimisation in persistence loop + memory work to remove depth_bino and depth_bin et al.
Persistence divided by 4 by removing loop.

New perf:
   CPU of chunk inits         = 13.88
   CPU of density bining      = 74.06
   CPU of masking and var def = 5.88
   CPU of annual mean compute = 17.11
   CPU of interpolation       = 4.56
   CPU of zonal mean          = 8.6
   CPU of persistence compute

[2015-02-05 09:42] eguil commented on #33
Last loop (binning) requires ESMF exploration

[2015-02-05 10:43] eguil commented on #27
Also explore reanalysis

[2015-02-05 10:56] eguil opened #35 "Interpolation or masking bug ?"
@durack1 Can you investigate this and push through UVCDAT

IPSL/ORCA grid is distorted where the spuriously masked points appear on the target grid
Using:

[code]

using regridMethod = 'linear' same pb
![screen shot 2015-02-05 at 11 54 14](https://cloud.githubusercontent.com/assets/7075402/6059074/d0fc45e0-ad2d-11e4-9f80-583b240742e7.jpg)

[2015-02-09 18:53] durack1 commented on #35
@doutriaux1 it's likely there is some work to figure out within ESMF here..?

[2015-02-10 04:44] durack1 commented on #33
Another potential option here is cython:
http://technicaldiscovery.blogspot.com/2011/06/speeding-up-python-numpy-cython-and.html
http://docs.cython.org/

I'm yet to use this effectively (and the cdms2 declarations might complicate things) but the "free" speedups certainly would be useful..

[2015-02-11 17:12] durack1 commented on #33
And another option: mpi https://ice.txcorp.com/trac/modave/wiki/parallel

[2015-02-18 15:07] eguil opened #36 "Testing on ciclad.ipsl.jussieu.fr"
## **First test on ciclad**
- install PCMDI metrics package + durolib + pytz
- run drive_ACCESS1-0.py in batch mode
- compare with perf on crunchy: 50% slower

12 months ACCESS1.0:

ciclad vs. crunchy (bining per month):

[code]

ciclad vs. crunchy (overall):

[code]

Ciclad perf:

[code]

Crunchy perf:

[code]

[2015-02-18 15:19] eguil commented on #33
Second loop, in persistence, was removed with a good speed up

[2015-02-18 15:21] eguil commented on #33
Article sent by Mark Morgan: http://sebastianraschka.com/Articles/2014_multiprocessing_intro.html#Multi-Threading-vs.-Multi-Processing

[2015-02-18 16:19] durack1 commented on #36
@eguil the numbers above are suggestive of I/O differences to me.. The memory seems to be almost identical, but the time taken to read the data could slow things right down.. Not sure this jives with the CPU timings though..?

[2015-02-18 16:48] eguil commented on #36
@durack1 well, I/O is one issue but not the main one - look at the annual and zonal mean compute differences. cdutils.averager perfs. seem to be one issue here.

[2015-02-24 23:54] durack1 commented on #33
@eguil how is this going? Did we need to squeeze out some more here, or have you managed to get things really lean..?

Sorry for the lack of interaction, we had a computer die over here, just trying to get everything back up..

[2015-03-02 09:34] eguil commented on #33
@durack1 I was on holidays last week - back to this now. I think at this stage parallel/threading is the next step. Any chance we could have help from Charles ? I will get the code ready (still a bug in integrals) in the next few days and we can rerun it on the historical.

[2015-03-02 11:58] eguil commented on #34
averaging now correct - may still have a few % diff due to interpolation (to check at some point)

[2015-03-02 11:58] #34 closed

[2015-03-02 17:55] eguil commented on #33
Current perfs for 156 years of IPSL-CM5-LR
about 100 sec per chunk:

   CPU of chunk inits         = 4.18
   CPU of density bining      = 74.48
   CPU of masking and var def = 1.7
   CPU of annual mean compute = 2.98
   CPU of interpolation       = 5.95
   CPU of zonal mean          = 3.08
   CPU of persistence compute = 7.18
   CPU of chunk               = 100.04

For whole run:

    Max memory u

[2015-03-02 21:04] durack1 commented on #33
@eguil ok so time is down but memory is up - I assume that running with MIROC4h is going to blow things up again.. Have you tried?

We've had the same system die again, so I might be a little slow to start up on this..

[2015-03-05 16:25] eguil opened #37 "Parallel version of key loop in binDensity.py"
@momipsl @durack1
Goal is to reduce elapsed time of "75% loop"

[2015-03-05 16:26] eguil commented on #37
First attempt by Mark:
Eric

OK thanks for this information, so the data types are all standard that simplifies things.

Regarding LonN*LatN.  In the code the number of process to spin off is determined by the list comprehension at line 1485:
[i for i in range(lonN * latN) if nomask[i]]

Can you give me an estimation of the length of this array as this gives us the number of processes to execute i

[2015-03-05 16:34] eguil commented on #35
Figure above is doing ncview on field isondepthg from file /work/guilyardi/Density_bining/test>cmip5.IPSL-CM5A-LR.historical.r1i1p1.an.ocn.Omon.density.ver-v20111119-compressed_old.nc

[2015-03-05 16:42] eguil commented on #37
@momipsl LonN*LatN is typically 30 000 to 100 000 (with 30% of masked points)

[2015-03-06 07:45] eguil commented on #33
@durack1 MIROC4h test for 12 months:

    CPU of chunk inits         = 1063.9
    CPU of density bining      = 3996.23
    CPU of masking and var def = 399.49
    CPU of annual mean compute = 185.79
    CPU of interpolation       = 13.53
    CPU of zonal mean          = 6.88
    CPU of persistence compute = 235.55
    CPU of chunk               = 5901.69
    Max memory use 80.588012 GB
    Ratio t

[2015-03-06 10:40] momipsl commented on #33
Can you confirm which version of numpy you are using.  This is relevant as from version 1.8.1. onwards ti seems that numpy array indexing is thread-safe, i..e the python GIL is released when indexing.  This could obviate need for launching separate processes.

[2015-03-06 10:54] eguil commented on #33
I am using 2.7.9 on ciclad:

    /home/ericglod/Density_bining>/home/ericglod/PCMDI_Metrics/PCMDI_METRICS/bin/python --version
    Python 2.7.9

[2015-03-06 11:07] momipsl commented on #33
I am  more interested to know which version of the NUMPY library you are using.  To find this do:
   import numpy
   print(numpy.version.version)

[2015-03-06 11:20] eguil commented on #33
1.9.0

[2015-03-06 11:30] momipsl commented on #33
OK good - this means that in principle numpy array access is thread safe for both read and writes and hence a multi-threaded approach is feasible rather than a multi-process approach which is more complicated from the perspective of shared memory access across processes

[2015-03-06 14:00] momipsl commented on #33
OK I have just committed an UNTESTED implementation of a multi-threaded depth interpolation.  This implementation places the interpolations to be performed in a task queue.  Task workers then perform the interpolations on separate threads.

At line 1472 the variable MAX_THREADS is declared, this is the maximum number of threads to be created.  You may wish to experiment with this number, i.e. run

[2015-03-06 16:45] durack1 commented on #33
@eguil great, so memory usage is down too, so we should be able to process all models and simulations in one run.. That 80GB should really be something we can halve though.. The MPI-ESM-MR is the higher res (L=low, M=medium)

[2015-03-06 16:45] eguil commented on #33
ok first tests:
1) missing args c1_s and c2_s in call from main code
2) crashes with:

   Traceback (most recent call last):
      File "/home/ericglod/Density_bining/density-bin-parallel/drive_ACCESS1-0.py", line 39, in <module>
        densityBin(modelThetao,modelSo,modelAreacello,outfileDensity,timeint='1,12')
      File "/home/ericglod/Density_bining/density-bin-parallel/binDensity.py", line 6

[2015-03-06 16:57] eguil commented on #37
From Mark:

OK I have just committed an UNTESTED implementation of a multi-threaded depth interpolation. This implementation places the interpolations to be performed in a task queue. Task workers then perform the interpolations on separate threads.

At line 1472 the variable MAX_THREADS is declared, this is the maximum number of threads to be created. You may wish to experiment with this number,

[2015-03-06 17:00] eguil commented on #37
ok first tests:
1) missing args c1_s and c2_s in call from main code
2) crashes with:

    Traceback (most recent call last):
      File "/home/ericglod/Density_bining/density-bin-parallel/drive_ACCESS1-0.py", line 39, in <module>
        densityBin(modelThetao,modelSo,modelAreacello,outfileDensity,timeint='1,12')
      File "/home/ericglod/Density_bining/density-bin-parallel/binDensity.py", line

[2015-03-06 17:07] durack1 commented on #33
@eguil you most likely need to initialize/load the queue object:

https://github.com/eguil/Density_bining/blob/master/binDensity.py#L40-41
[code]

[2015-03-06 17:37] momipsl commented on #37
Just committed update that correctly imports the python modules queue and threading.

[2015-03-06 17:38] momipsl commented on #37
Considering the size of LonN*LatN (i.e. 30k - 100k) then we will probably have to process these in batches using generators.  I will await results of tests before implementing this.

[2015-03-06 19:02] eguil commented on #37
could not find a new commit...

[2015-03-06 19:09] durack1 commented on #37
It was committed to your eguil/Density_bining repo directly:
https://github.com/eguil/Density_bining/blob/master/binDensity.py#L45-46

[2015-03-06 19:16] eguil commented on #37
oups, I'd rather we keep two separate branches as we are using the
standardversion
How can we come back to the previous state ?

On 6/3/15 20:09, Paul J. Durack wrote:

--
Eric Guilyardi
IPSL/LOCEAN - Dir. Rech. CNRS
Tour 45, 4eme, piece 406
UPMC, case 100
4 place Jussieu, F-75252 Paris
Tel: +33 (0)1 44 27 70 76 	Prof. Eric Guilyardi
NCAS Climate
Meteorology Department
University of Reading
Readin

[2015-03-06 19:18] durack1 commented on #37
@eguil you'll have to revert the commit - and then turn off write access to your repo, so we then have to issue pull requests from our respective forks..

[2015-03-06 19:21] eguil commented on #37
right I need help with git commands here...

On 6/3/15 20:18, Paul J. Durack wrote:

--
Eric Guilyardi
IPSL/LOCEAN - Dir. Rech. CNRS
Tour 45, 4eme, piece 406
UPMC, case 100
4 place Jussieu, F-75252 Paris
Tel: +33 (0)1 44 27 70 76 	Prof. Eric Guilyardi
NCAS Climate
Meteorology Department
University of Reading
Reading RG6 6BB - UK
Tel: +44 (0)118 378 8315

                 http://ncas-climate.nerc.a

[2015-03-06 19:32] durack1 commented on #37
@eguil did you want me to do a revert here? I'll get binDensity.py back to pre-threads version and rename the threaded version binDensityMP.py - is that ok?

I'll then issue you a pull request so you can review and then merge changes back in..

[2015-03-06 23:29] eguil commented on #37
@momipsl

that would be great - thanks !
The binDensityMP.py code is now running and producing results that are
correct - but I don't see any speed up yet.
Making further tests with using more nodes/cpus.

On 6/3/15 20:32, Paul J. Durack wrote:

--
Eric Guilyardi
IPSL/LOCEAN - Dir. Rech. CNRS
Tour 45, 4eme, piece 406
UPMC, case 100
4 place Jussieu, F-75252 Paris
Tel: +33 (0)1 44 27 70 76 	Prof. Er

[2015-03-06 23:31] durack1 commented on #37
@eguil did I need to do anything here, or are you ok? If I need to do something just let me know (and what that is)

[2015-03-06 23:51] durack1 commented on #37
@eguil did you want me to reinstate the old binDensity.py - did you want to commit binDensityMP.py to the repo?

[2015-03-07 14:30] eguil commented on #37
Here are the results I have with the current threaded version. Either not doing what is expected or I am not using it right:

     standard code: CPU use, elapsed 328.99 632.229090929
     threaded code (1 node 1 CPU) : CPU use, elapsed 300.6 672.093030214
     threaded code (1 node 8 CPU) : CPU use, elapsed 739.82 851.112504959
     threaded code (2 nodes 8 CPU): CPU use, elapsed 1154.07 1242.905

[2015-03-07 14:38] eguil commented on #37
Paul, yes please revert back to version without parallel in github ( create binDensityMP.py as described in your comment above). I though it was Mark sending this as when you get the email you don't know who wrote the comment ! I need help to do this as I don;t know github well enough.

[2015-03-08 04:15] durack1 commented on #37
@eguil this should sort things out https://github.com/eguil/Density_bining/pull/38

[2015-03-09 15:57] momipsl commented on #37
Upon conducting a review it is clear that the current implementation of parallelisation leveraging python's threading module will not result in any performance gains.  This is due to the python GIL which blocks CPU intensive threads span from the same process.  This technique would work fine if the work to be performed was I/O based rather than CPU based.

Therefore the implementation must revert

[2015-03-09 16:03] eguil commented on #37
Thanks Mark. This would explain the result I summarised above. Can you please develop in binDensityMP.py from now on ?

[2015-03-10 11:05] momipsl commented on #37
New implementation of binDensityMP.py  This uses python multiprocessing library to parallelize the interpolations.  The arrays (c1m, c2m, s_s, szm, zzm) are placed in shared memory so that they do not need to be copied to the spawned processes.

Note - this is UNTESTED !

[2015-03-10 12:36] eguil commented on #37
Hi Mark: result from first test:

Traceback (most recent call last):
  File "/home/ericglod/Density_bining/drive_CSIRO_piC.py", line 34, in <module>
    densityBin(modelThetao,modelSo,modelAreacello,outfileDensity,timeint='1,12')
  File "/home/ericglod/Density_bining/binDensityMP.py", line 687, in densityBin
    valmask)
  File "/home/ericglod/Density_bining/binDensityMP.py", line 1549, in _parall

[2015-03-10 12:59] momipsl commented on #37
Just committed a patch to resolve this.  It seems that the input array s_s is strided, i..e the result of a transposition.  This causes np.ctypeslib.as_ctypes(s_s) to fail.  Workaround is to use a copy of the array.  If the other input arrays szm_ & zzm_ are also strided then they will also have to be copied.

[2015-03-10 16:32] eguil commented on #37
actually s_s (target density grid) is a lonN*LatN replicate of the same
1D vertical vector, if that can help to simplify things. I made it like
this so that we could do a matrix computation.

On 10/3/15 13:59, Mark A. Greenslade wrote:

--
Eric Guilyardi
IPSL/LOCEAN - Dir. Rech. CNRS
Tour 45, 4eme, piece 406
UPMC, case 100
4 place Jussieu, F-75252 Paris
Tel: +33 (0)1 44 27 70 76 	Prof. Eric Guilya

[2015-03-10 22:12] eguil commented on #37
result of patch: =>> PBS: job killed: vmem 24252403712 exceeded limit 12884901888

[2015-03-11 14:31] momipsl commented on #37
It would be helpful if you could get vmdm dumps at lines 1544 and 1563.  This will tell us whether copying the arrays c1m, c2m, s_s, szm & zzm to shared memory is inflating vmdm usage.  If not then it must be in the spawned processes.

[2015-03-11 14:47] eguil commented on #37
Hi mark, what is a "vmdm" dump and how can I get it ?

On 11/3/15 15:31, Mark A. Greenslade wrote:

--
Eric Guilyardi
IPSL/LOCEAN - Dir. Rech. CNRS
Tour 45, 4eme, piece 406
UPMC, case 100
4 place Jussieu, F-75252 Paris
Tel: +33 (0)1 44 27 70 76 	Prof. Eric Guilyardi
NCAS Climate
Meteorology Department
University of Reading
Reading RG6 6BB - UK
Tel: +44 (0)118 378 8315

                 http://ncas

[2015-03-11 15:15] momipsl commented on #37
Sorry this is a typo.  It should have read vmem, i.e. virtual memory dump.   I have just committed a change that outputs to stdout memory usage using the python resource module.

[2015-03-11 21:33] eguil commented on #37
Here is the output:

   Total volume in z coordinates source grid (ref = 1.33 e+18) :
1.31679820735e+18
   Mean Temp./Salinity in z coordinates source grid            :
3.32230840011 34.7277874016
binDensityMP.INFO :: depth interpolation :: memory usage :: initial ::
2669204 (kb)
binDensityMP.INFO :: depth interpolation :: memory usage :: array
conversions step 1 - completed :: 2669204 (kb)
binDen

[2015-03-12 08:13] momipsl commented on #37
How many cores did this job have access to?

[2015-03-12 08:17] eguil commented on #37
one for now - I am first testing with one core one cpu before increasing
them

On 12/3/15 09:13, Mark A. Greenslade wrote:

--
Eric Guilyardi
IPSL/LOCEAN - Dir. Rech. CNRS
Tour 45, 4eme, piece 406
UPMC, case 100
4 place Jussieu, F-75252 Paris
Tel: +33 (0)1 44 27 70 76 	Prof. Eric Guilyardi
NCAS Climate
Meteorology Department
University of Reading
Reading RG6 6BB - UK
Tel: +44 (0)118 378 8315

[2015-03-12 08:33] momipsl commented on #37
This is designed to run on multiple cores.  If there is only one core then you will see no benefits as the value of MAX_PROCESSES in line 1581 will be set to 1.  In this scenario the job will only be able to spawn a single sub-process which defeats the purpose of the exercise.

I have updated the code to run sequentially if the number of cores is <= 2 (this leaves one core for system tasks).  So y

[2015-03-12 09:24] eguil commented on #37
ok - I will try again

On 12/3/15 09:33, Mark A. Greenslade wrote:

--
Eric Guilyardi
IPSL/LOCEAN - Dir. Rech. CNRS
Tour 45, 4eme, piece 406
UPMC, case 100
4 place Jussieu, F-75252 Paris
Tel: +33 (0)1 44 27 70 76 	Prof. Eric Guilyardi
NCAS Climate
Meteorology Department
University of Reading
Reading RG6 6BB - UK
Tel: +44 (0)118 378 8315

                 http://ncas-climate.nerc.ac.uk/~ericg

[2015-03-12 11:13] eguil commented on #37
Here is the ouput with us 3 cores:

binDensityMP.INFO :: depth interpolation :: EXECUTING IN PARALLEL
binDensityMP.INFO :: depth interpolation :: memory usage :: initial ::
2674972 (kb)
binDensityMP.INFO :: depth interpolation :: memory usage :: array
conversions step 1 - completed :: 2674972 (kb)
binDensityMP.INFO :: depth interpolation :: memory usage :: array
conversions step 2 - completed :: 2

[2015-04-03 18:00] durack1 opened #40 "binDensity crash - check inputs"
[code]

[2015-04-13 17:38] durack1 commented on #40
Same issue, historical experiment:
[code]

[2015-04-13 20:03] eguil commented on #40
ok I will look into this.

On 13/4/15 19:38, Paul J. Durack wrote:

--
Eric Guilyardi
IPSL/LOCEAN - Dir. Rech. CNRS
Tour 45, 4eme, piece 406
UPMC, case 100
4 place Jussieu, F-75252 Paris
Tel: +33 (0)1 44 27 70 76 	Prof. Eric Guilyardi
NCAS Climate
Meteorology Department
University of Reading
Reading RG6 6BB - UK
Tel: +44 (0)118 378 8315

                 http://ncas-climate.nerc.ac.uk/~ericg

[2015-04-13 21:14] durack1 commented on #40
@eguil these problems are most likely the inputs - the files include the `.WARN2.` identifier - so just leave this up to me.. I'm just restarting for the moment, will have to go and revisit once I get to the end of the available files.. We're still running out of memory on MIROC4h and MPI.. But again will just keep pushing this until I get to the end before digging deeper..

[2015-04-13 21:39] eguil commented on #40
@durack1 ok fine

On 13/4/15 23:14, Paul J. Durack wrote:

--
Eric Guilyardi
IPSL/LOCEAN - Dir. Rech. CNRS
Tour 45, 4eme, piece 406
UPMC, case 100
4 place Jussieu, F-75252 Paris
Tel: +33 (0)1 44 27 70 76 	Prof. Eric Guilyardi
NCAS Climate
Meteorology Department
University of Reading
Reading RG6 6BB - UK
Tel: +44 (0)118 378 8315

                 http://ncas-climate.nerc.ac.uk/~ericg

[2015-04-20 16:33] durack1 commented on #40
And another: historicalNat
cmip5.CESM1-CAM5.historicalNat.r1i1p1.an.ocn.Omon.density.ver-v20130909.nc
[code]

[2015-04-22 20:40] durack1 commented on #40
And another:
[code]

[2015-04-22 22:45] durack1 commented on #40
And another:
[code]

[2015-04-23 16:39] durack1 opened #41 "drive_density.py tweaks for ciclad"
@eguil can you provide a ciclad path to data and also the machine full name ciclad.blah.blah.fr and I'll bolt this into drive_density.py as I make tweaks for the piControl experiment runs..

[2015-04-23 16:41] eguil commented on #41
examples of files and path names

modelSo = '/prodigfs/esg/xml/CMIP5/piControl/ocean/mon/so/cmip5.CSIRO-Mk3-6-0.piControl.r1i1p1.mon.ocean.Omon.so.latest.xml'
modelThetao = '/prodigfs/esg/xml/CMIP5/piControl/ocean/mon/thetao/cmip5.CSIRO-Mk3-6-0.piControl.r1i1p1.mon.ocean.Omon.thetao.latest.xml'
modelAreacello = '/prodigfs/esg/xml/CMIP5/piControl/ocean/fx/areacello/cmip5.CSIRO-Mk3-6-0.piControl.r0i

[2015-04-23 16:42] eguil commented on #41
Machine hostname: ciclad-ng.private.ipsl.fr

[2015-07-20 23:45] durack1 commented on #40
And another:
[code]

[2015-08-06 18:08] durack1 opened #42 "Think about TEOS-10 density implementation"
The new publication by [Roquet et al. (2015)](http://doi.org/10.1016/j.ocemod.2015.04.002) provides a circa TEOS-10 update to the [McDougall & Jackett (2005)](http://doi.org/10.1357/0022240053693734) method of *in-situ* density calculation.

As part of this analysis we'll have to consider if the selection of method to calculate density is a sensitivity of the analysis - doubtful, but yet to be ana

[2016-04-11 20:13] durack1 opened #44 "Add 1pctCO2 experiment to drive_density.py"
Strongly forced experiments allow for a comparison to the weakly-forced historical and historicalNat simulations - elucidating forced fingerprints more clearly

[2016-04-11 23:14] #44 closed

[2016-04-13 17:35] durack1 opened #46 "Project density analysis back to z"
Use the insitu pressure to map back to a standard depth coord - suggest WOA levels (33)

[2016-04-13 17:36] durack1 opened #47 "Calculate all diagnostics for z levels"
Compute same TOE quantities for zonal means from pressure/depth analysis - so there is a direct depth analysis to compare to density

[2016-04-13 23:24] eguil opened #48 "Compute heat content variable as volume*thetao"

[2016-04-14 16:08] durack1 opened #49 "Generate new obs dataset including pressure"
In addition to salinity and temperature, include the pressure change for the density analysis

[2016-04-14 17:00] eguil opened #50 "Compute ToE"
- compute ToE as last date for which signal = diff hist-histNat > noise = mult \* stddev_histNat
  - per model
  - compute S:
    - hist-histNat diff for each hist member [rho,lat,time,Nh]
      - use histNat_mean for ref
    - Ed H. uses another method from piControl (see 2012 GRL)
  - compute N as std dev of histNat: stddev_histNat [rho,lat]
    - use max of Nhn Stddev
  - S/N is (diff hist-hist

[2016-04-22 17:07] eguil commented on #47
Paul to use code from Chap 9 fig.:
- work on monthly mean
- interpolate 2D and the vertical onto WOA grid
- store 4D data
- perform zonal mean
- store 3D data

[2016-04-25 22:26] durack1 commented on #27
@eguil here is a start - I haven't validated the output from these files so there may be teething problems.

The data sources that require rewriting (IPRC, ORAS4, SODA224) will require more effort, and I should get back to these upon returning from vacation.

Take a look at these and let me know how they're looking

[2016-04-26 04:18] eguil commented on #27
@durack1 - ok will do. See you Weds morning @stanyan

[2016-04-27 18:24] eguil opened #51 "adapt mme_ave_msk.py for obs to create <var>Bowl"

[2016-05-12 16:07] eguil commented on #51
Done by update of mme_ave_msk.py

[2016-05-12 16:07] #51 closed

[2016-05-14 20:44] eguil commented on #46
Does this requires working on the full 4D fields ? Zonal mean T and depth do not account for local non-linear correlations... This question could also apply to ToE calculation. Needs more thinking.

[2016-05-17 15:55] durack1 commented on #46
@eguil this is a discover by doing question I think.. We had a machine failure whilst I was away so it might take a week or so to get back up to speed..

[2016-05-19 12:07] eguil commented on #50
use median rather than mean for MME TOE (some have not emerged)

[2016-05-19 12:37] eguil opened #52 "Run on large ensembles"
- CCSM (Clara) (histNat ?)
 - http://journals.ametsoc.org/doi/abs/10.1175/BAMS-D-13-00255.1
- IPSL-CM5A-LR
- CanESM2 (John Fyfe)

[2016-05-20 12:36] eguil commented on #46
@durack1 More thinking following discussion with a colleague: in the lat/rho space, use the volume=f(depth) of the target grid to find the depth of isopynals using the volume of isopycnals (starting from top or bottom). Use an intermediate grid of say 5m (or fraction of WOA z grid) for precision (and then project back onto WOA grid).

[2016-09-19 07:22] eguil commented on #49
Cheng et al. JClim 2016: correction of OHC (from OSC) + BAMS 2016

[2016-09-19 07:22] eguil commented on #27
How about: Cheng et al. JClim 2016: correction of OHC (from OSC) + BAMS 2016 ?

[2016-10-13 15:42] eguil opened #53 "Bug in interpolation at date line or other longitudes"
Some models have undefined values around the date line (i-179 & 180, eg CanESM2) or at given longitudes (eg CCSM4).
Need to check interpolation option in binDensity.py

[2016-10-13 16:05] eguil opened #54 "bowl properties wrong in some locations"
ptopsoxy and other ptop xy variables wrong (S=0 !) in some places. See attached screen shot:
![screen shot 2016-10-13 at 18 02 53](https://cloud.githubusercontent.com/assets/7075402/19356836/6da6cf06-916f-11e6-92f0-21605e1d88a0.jpg)
May be due to unstable columns where interpolation or test fails as density profile is not constinuously increasing with depth.

[2016-10-13 16:13] eguil commented on #53
Models with issues (so far I only checked those that have histNat as well as hist runs):
- CanESM2 (i=179/180, all j)
- CCSM4 (i=139,140 & j=1->145)
- CSIRO-Mk3-6-0 (i=178/179, all j)
- GISS-E2-H has another issue in a patch in the west Atlantic where nothing is defined !
- GISS-E2-R (i=179/180, all j)
- HadGEM2-ES (i=179, all j)
- MIROC-ESM (i=179/180, all j)
- MIROC-ESM-CHEM (i=179/180, all j)

[2016-10-13 16:22] eguil commented on #35
also see issues #53 and #54

[2016-10-19 16:21] durack1 commented on #54
@eguil glad this has been caught.. Have you figured out the source of the error yet?

[2016-10-19 16:28] eguil commented on #54
no but I suspect vertical interpolation issues in weakly stratified regions. We will need to enquire. I wrote an ad hoc corrector (correctBinFiles.py) that I now run as a pre-processor to the mme calculations. These are things we should have looked at in more details earlier... but Yona's work is helping do this now !

[2016-10-19 16:38] durack1 commented on #53
@eguil we may need to add the additional argument(s) to [binDensity.py](https://github.com/eguil/Density_bining/blob/master/binDensity.py#L503):
[code]
becomes:
[code]
In particular the `diag = {}` will provide a bunch of diagnostics that may be useful to interrogate if the issue persists..

There is some discussion of this at https://github.com/UV-CDAT/uvcdat/issues/147

[2016-10-19 20:38] durack1 commented on #53
@eguil we may need to add the additional argument(s) to [binDensity.py](https://github.com/eguil/Density_bining/blob/master/binDensity.py#L503):
[code]
becomes:
[code]
In particular the `diag = {}` will provide a bunch of diagnostics that may be useful to interrogate if the issue persists..

I am still trying to locate the comprehensive documentation for this functionality (see https://github.com/

[2017-02-24 16:32] eguil commented on #47
Use WOA09 grid 1x1 deg x 33 levels

[2017-04-27 08:07] eguil commented on #54
Paul Barker has a code to remove vertical instabilities and that we could use in a preprocessing stage when we re-run everything.

[2017-04-27 08:08] eguil commented on #42
I had a chat with Paul Barker at EGU 2017 who said we should rather call our “neutral” density “sigma-2-like”. I told him we are planning to upgrade our density calculation with TEOS-10. Defining neutral surface is still some time ahead he told me - he is workig on the code.

[2017-04-27 15:51] gleckler1 commented on #42
I can understand why this distinction is important to Paul and other experts working on thermodynamic properties.   But “neutral” can be interpreted but a much broader audience.   Does it capture the essence of the analysis even if there are some important caveats?  Or is it really misleading?

[2017-04-27 15:56] durack1 commented on #42
@eguil @gleckler1 this will always be a sticking point with Trevor and Paul B. For a truly "neutral" surface, you should be able to traverse along an isopycnal from an origin and following that isopycnal return the extract same properties/location/coordinate.. Even the `gamma_n`, rather than the `gamma_rf` that we use doesn't provide that exactly, there is an offset.. For the multimodel analysis t

[2017-04-27 18:03] durack1 commented on #54
@eguil there are also some vertical interpolation (spline) routines that were planned to be incorporated in the matlab version of the TEOS-10 library.. This should also be considered..

[2017-05-29 14:18] eguil opened #59 "Compute overturning stream function"
bin velocity to compute MOSF in density space per basin

[2017-05-30 08:24] eguil opened #60 "Review binning kernel"
The current vertical interpolation approach chosen has some issues: performance as its parallelisation is proving hard and science issue such as not dealing with instable profiles (see issue #54).
Other techniques are possible (cf Gurvan and Casimir) are require some exploration.

[2017-07-26 22:37] durack1 commented on #16
Maybe reopen if/when this becomes important

[2017-07-26 22:37] #16 closed

[2017-07-26 22:39] #19 closed

[2017-07-26 22:43] durack1 commented on #17
Deprecated by #33

[2017-07-26 22:43] #17 closed

[2017-07-26 22:44] durack1 commented on #33
Also see #36 (closed)

[2017-07-26 22:44] durack1 commented on #36
See #33, closing this as a dupe

[2017-07-26 22:44] #36 closed

[2017-07-26 22:45] durack1 commented on #37
This may be relevant in #33

[2017-07-26 22:45] #37 closed

[2017-07-26 22:47] durack1 commented on #40
Revisit as specific test cases in #33 - test with new code and new ESMPy

[2017-07-26 22:47] #41 closed

[2017-07-26 22:51] durack1 commented on #42
We should think about other published methods, see:
https://github.com/TEOS-10/GSW-Matlab/blob/master/Toolbox/library/gsw_rr68_interp_SA_CT.m
https://github.com/TEOS-10/GSW-Matlab/blob/master/Toolbox/library/gsw_spline_interp_SA_CT.m
And others

[2017-07-26 22:54] durack1 commented on #49
Data was provided in February 2017

[2017-07-26 22:54] #49 closed

[2017-07-26 22:54] #50 closed

[2017-07-26 22:55] durack1 commented on #53
We will need to update code with UVCDAT 2.10 now uses ESMPy rather than ESMF

[2017-07-26 22:58] durack1 commented on #42
From #60

@eguil: The current vertical interpolation approach chosen has some issues: performance as its parallelisation is proving hard and science issue such as not dealing with instable profiles (see issue #54).
Other techniques are possible (cf Gurvan and Casimir) are require some exploration.

See discussion in https://github.com/eguil/Density_bining/issues/42#issue-99493528 and below, closin

[2017-07-26 22:59] durack1 commented on #60
Copied to #42, so closing

[2017-07-26 22:59] #60 closed

[2017-07-26 23:01] durack1 commented on #47
@durack1 to revisit this considering grim - css03 issues should be solveable

[2017-07-26 23:09] durack1 opened #61 "Add option to for native grid analysis"
Currently the code is hard-wired for the WOA09 1x1 horizontal grid, this should be an option

[2017-09-06 20:54] durack1 commented on #42
@eguil the new vertical interpolation scheme of Barker and McDougall is now available too: https://doi.org/10.1175/JTECH-D-16-0111.1

[2017-09-28 12:43] mignotj commented on #59
Ongoing work at LOCEAN: add variable transport  (h*v) to the general binning procedure. Vertical integral will have to be added separately: online or offline?

[2017-09-28 13:40] eguil opened #62 "Modularisation of binDensity.py"
- Organise `binDensity.py` with more external modules stored in libDensity.py
- move postpsro (mskAve...) into a new libDensityPospro.py
- modules to consider

1. maybe: interpolation proc (init and interp array)
2. switch model (e.g. masking of data, chunk calc,...): externalise ?
3. l. 623 to 720 : binning kernel
4. interp l. 852-913
5. zonal mean ? l.931-962
6. persistence l. 966-1312
7. zona m

[2017-09-28 13:46] eguil commented on #59
To check code after changes, verify that value computed from:
`          print '  Total volume in rho coordinates source grid (ref = 1.33 e+18) : ', voltot
            print '  Mean Temp./Salinity in rho coordinates source grid            : ', temtot, saltot`
remain the same

[2017-09-28 23:08] durack1 commented on #62
@eguil I agree with this sentiment, if we can modularize things more so functions are reusable that would be great - it would also aid multiprocessing/threading these functions

[2017-10-02 09:31] eguil commented on #62
libDensityPospro.py created

[2017-10-03 14:00] eguil commented on #62
We need to decide how to distinguish global variables from local. We could use:
- `Capitalised` global vs.`lowercase` local
- `g_<var>` for global
- other suggestions, ideas, standards ?

[2017-10-03 14:04] durack1 commented on #62
@eguil how many regions do you want to define? I suggest we attempt to align as much with CF as we can http://cfconventions.org/Data/cf-standard-names/docs/standardized-region-names.html

[2017-10-03 14:38] eguil commented on #62
no, not geographical regions ! -> names of python variables in the binDensity code

[2017-10-03 15:32] durack1 commented on #62
Ok got you, well what is the most important way to slice and dice variables in memory - having all the same quantities lining up together eg:
[code]
Or the regional totals all lining up:
[code]

[2017-10-03 16:22] eguil commented on #62
still not the issue ! Go and check the streamfunction branch created by Nicolas - you will see that he created variables in upper case (those that are coming from the libDensity.py). I find that upper case is really hard to read so we are looking for other ways of encoding this (first letter uppercase, g_<var>,...)

[2017-10-03 16:26] durack1 commented on #62
@eguil which file am I looking at https://github.com/eguil/Density_bining/blob/streamFunction/libDensity.py?

[2017-10-03 16:29] eguil commented on #62
https://github.com/eguil/Density_bining/blob/streamFunction/binDensity.py

[2017-10-03 19:29] durack1 commented on #62
@eguil ok got you https://github.com/eguil/Density_bining/compare/master...streamFunction

I also agree that it would be nice to make the code more intuitively readable, some of the variable declarations don't make immediate sense to me. We really should attempt to leverage the [CMIP6 MIPvar names](http://clipc-services.ceda.ac.uk/dreq/index/CMORvar.html), but this will certainly come at a cost of

[2017-10-05 08:46] eguil opened #63 "Develop additional binning kernels"
First implementation of binDensity uses a linear interpolation (numpy.interp). This has two limitations:
- high CPU (loop on lat/lon required)
- less control on binning of extensive variables (e.g. transport).

The goal here is to add other binning kernels and limits the use of loops.

[2017-10-05 23:16] durack1 commented on #63
@eguil while we're also thinking about performance, the actual vertical/cast interpolation should also be considered, there are now quite a number of available methods - see https://github.com/eguil/Density_bining/issues/42#issuecomment-327609810

[2017-10-06 12:47] eguil commented on #18
Back to surface transformation with the arrival of Victor Estella-Perez (LOCEAN Post-doc).

[2017-10-08 19:27] durack1 commented on #18
@eguil great!

[2017-10-09 13:37] eguil commented on #63
check: https://github.com/trondkr/model2roms/blob/master/interpolation.f90

[2017-10-09 13:46] eguil commented on #63
Maybe we can use ESMF for 4D interpolation: https://github.com/raphaeldussin/ESMPy3/blob/master/examples/ungridded_dimension_regrid.py
Any thoughts Paul ?

[2017-10-09 18:00] durack1 commented on #63
@eguil the dev folks are currently working on porting CDMS2 to python3, and as part of this testing of the ESMF 7.x branches are underway. We should be able to engage the ESMF dev folks directly on this question, it's an expansion of functionality that would benefit all cdms users..

@dnadeau4 @doutriaux1 pinging you both here

[2017-10-09 18:24] doutriaux1 commented on #63
@durack1 what about Python3? I do not see the connection.

[2017-10-09 18:27] durack1 commented on #63
@doutriaux1 the ESMF 6 -> 7 update was what I was attempting to point out.. This is all being done as  an important part of the cdms move from python2 -> python3. And as @dnadeau4 is interacting with the ESMF folks on that work, it makes sense that we could also engage with them on this 4D interpolation question

[2017-10-09 18:34] doutriaux1 commented on #63
ah ok. ESMF/ESMPY 7.0 is already in.

[2017-10-10 07:42] eguil commented on #63
Exchange with one ESMF developer:

[code]

[2017-10-10 07:51] eguil commented on #42
Another way is to use the simple NPC scheme of NEMO. I wonder to what extent Paul Barker's code is taylored to observations vs. models ?

[2017-10-10 15:28] doutriaux1 commented on #63
@nadeau4 i think you have done 3D regrid right?

[2017-10-10 16:24] dnadeau4 commented on #63
yes.

[2017-10-10 16:46] durack1 commented on #63
@dnadeau4 is it fast?

[2017-10-10 16:53] dnadeau4 commented on #63
As fast as ESMF can be.

[2017-10-10 17:16] durack1 commented on #63
@dnadeau4 ok I shall pose my question better. How is the performance of the 4D (or 3D) interpolation in your user experience, is it fast and efficient, or relatively slow and resource hungry? Are there other options that you can contrast ESMF against?

[2017-10-10 18:24] durack1 commented on #42
All code examples are in matlab, so this would need to be refactored into python.. Once in python we could write it to execute across profiles (horizontal grid cells) in parallel

[2017-11-07 15:13] eguil opened #64 "NaN vs. 1.e20 issue on ciclad with CDMS"
- mme_ave_msk.py is creating files with NaNf instead of 1.e20 for valmask.
- Using the exact same files and python routines on Eric's mac does not produce this problem
- Try reinstalling CMDS via metrics package on ciclad.

[2017-11-07 17:29] durack1 commented on #64
@eguil let me know about this because it could be a cdms bug and we'll need to create an issue in that repo - note that the latest version of CDMS is 2.12 (see https://anaconda.org/conda-forge/cdms2/files?channel=main)

I have had issues in the past with regard to `NaN` numpy values

[2017-11-09 15:57] lebasn opened #65 "Parallelisation with MPI"
I'm trying use MPI to parallelise the density binning code. I first tried with threading on the binning loop with 4 and 8 threads without a performance increase.

Now I'm trying with MPI (from mpi4py import MPI) but I have trouble using both MPI and CdmsRegrid.
Actually, I load all modules and global variables with all CPUs and only use the first one to execute the code (if(RANK ==0)).

If I'm not

[2017-11-09 17:32] durack1 commented on #65
@dnadeau4 can you assist with this, your experience with MPI would be very useful to tap

@doutriaux1 ping

[2017-11-09 18:16] doutriaux1 commented on #65
cdms has the `setNetcdfUseParallelFlag(1)` flag

Also cdms2 variable have function to set the mpi com, such as:

[code]
etc...

@dnadeau4 can comment more on this. But see: https://github.com/UV-CDAT/cdms/blob/master/Lib/tvariable.py#L706-L730

[2017-11-13 16:16] lebasn commented on #65
Thanks I see the idea, I'll test it and give you feedbacks.

[2017-11-23 16:35] eguil commented on #64
Installed on Eric's mac cdms2, cdutil etc. via `conda install <pckg> -c conda-forge` for local testing vs. ciclad

[2017-11-28 00:22] durack1 commented on #63
@eguil this comment was interesting mom-ocean/MOM5#202 - looks like there are other folks interested in this

[2018-01-02 19:13] durack1 opened #66 "The time axis of output files are not correctly written"
This example output file `cmip5.ACCESS1-0.rcp85.r1i1p1.an.ocn.Omon.density.ver-1.nc` has not correctly pulled across the time axis entries, rather than `2006-07-02 12` to `2100-07-02 12` we have:
[code]

[2018-02-16 14:15] eguil commented on #54
Bug corrected today for bottom interpolation. The density range was larger than specified in s_s and hence some polar or warm pool profiles did not fin any density bin. Check is this help the pb above

[2018-02-16 14:18] eguil commented on #42
Bug found to day in the bottom interpolation - corrected after interpolation loop. Also the density range was not large enough is some cases and no density bin were being filled up. now corrected by extending the range of s_s[0] and s_s[N_s-1].

[2018-02-16 16:52] durack1 commented on #42
@eguil thanks for the update. It'd be useful to me to get a heads up as to where this code now sits, I was hoping to tweak things to drag along tracers for a couple of models that have them - chat next week?

[2018-02-16 22:52] eguil commented on #42
In addition to fixing these bugs. I have also corrected the half-level issue missing at the bottom. It is now ok and volume is pretty much conserved. We can now move to working on extensive fields, first with simple tests, and then with V*thickness to get the overturning stream function. Once this is running, we will come back to the parallelisation work (Nicolas is trying a few different routes).

[2018-03-16 14:58] eguil commented on #61
Requires file with basins mask for original grid. First develop for ORCA2 using ORCA2_LIM_nemo_v3.7_subbasins.nc

[2018-11-21 11:29] #64 closed

[2018-11-21 11:40] eguil commented on #63
added function binIndices in libDensity.py and testing on simple cases using test_binnoloop.py locally

[2018-11-21 11:41] eguil commented on #61
add noInterp option in binDensity.py as done in surface_transf.py

[2018-11-21 11:42] eguil commented on #59
Progress made but still a computing issue as result is wrong

[2018-11-21 11:46] eguil commented on #59
[ORLNH_deepMSFs_y2100.pdf](https://github.com/eguil/Density_bining/files/2604066/ORLNH_deepMSFs_y2100.pdf)

[2018-11-21 11:52] eguil commented on #54
Bug still present.
Should check if new library of ESMF called 'esmpy' solves the problem.

[2018-11-21 11:53] eguil opened #69 "Update to latest cdat (8.1)"
http://anaconda.org/cdat/cdms2

[2018-11-21 11:54] eguil commented on #46
Done by Yona

[2018-11-21 11:54] #46 closed

[2018-11-21 11:56] eguil commented on #33
Solutions proposed by Nicolas with running time chunks in parallel @lebasn

[2018-11-21 11:57] #18 closed

[2018-11-21 11:58] eguil opened #70 "add Ekman in surface_transf"
Add Ekman transport into surface transformation calculation

[2018-11-21 11:59] eguil commented on #35
Taken up by #54 and #53

[2018-11-21 11:59] #35 closed

[2018-11-21 12:00] durack1 commented on #53
#35 has a graphic of the issue, which appears associated with the tripolar grid of ORCA about 20N in the North Atlantic and Arctic, where the grid becomes distorted

[2019-02-08 14:41] eguil opened #71 "Bug in integrated zonal mean"
These lines are wrong:
[code]
Because the bathymetry in density coordinates cannot be taken into account (i.e. areazt does not depend on density). We then end up with a total volume of the ocean which is 1.7 e18 instead of 1.33 e18 m3.
Solution to implement: areazt should be density dependent and computed for each time step.
Also add under debug key the integral of isonvol to ensure 1.33 e18 is re

[2019-02-08 16:37] eguil opened #72 "Use WOA scale factors"
instead of computing the scale factors and area in compute_area() read basinmask3_area from new WOA file

[2019-02-08 17:06] eguil commented on #71
Solved with:
[code]
Still a diff in total volume (1.28 instead of 1,37) using IPSL bug this may be due to the ESMF bug

[2019-02-08 17:12] eguil opened #73 "Move binDensity.py to python 3"

[2019-02-12 21:50] durack1 commented on #73
@eguil good idea, we have 10 months to make the move - see https://pythonclock.org/

Note cdms/cdat is now py3 native

[2019-02-12 22:15] durack1 commented on #54
@eguil the latest `cdms2` is now 3.1.2. This comes with ESMF/ESMPy 7.1.0r, the latest release - see https://anaconda.org/conda-forge/cdms2/:

[code]

[2019-02-12 22:18] durack1 commented on #72
@eguil as noted in November 2018 discussions, I have now generated code to work with model native grids - this is another way to proceed with grid preserving analysis, rather than forcing everything to WOA 1x1 or 0p25x0p25 grids, the grids look like:
ACCESS1-0:
![cmip5 access1-0 1pctco2 r0i0p0 fx ocn fx basinmask ver-1](https://user-images.githubusercontent.com/3229632/52671808-f4675a00-2ed0-11e9-

[2019-02-13 05:21] durack1 commented on #71
@eguil I assume this is now fixed by https://github.com/eguil/Density_bining/commit/64987b47e976148bf94208404282b9680b14d2a0?

[2019-02-14 01:06] durack1 commented on #71
@eguil @ysilvy it seems there is a new input required:
[code]
For the obs files, where do I find the:
[code]

[2019-02-15 06:56] durack1 opened #74 "Convert velocity input to optional (obs have no velocity input)"
EN4 and other obs datasets have no corresponding velocity time series. Consequently current code won’t process obs.

[2019-02-15 06:58] durack1 opened #75 "Implement test suite"
Current code checkins have no validation/testing before changes are merged. Implementing a small test suite and continuous integration (CI) so that all code changes are tested before pull requests (PRs) would reduce problems with continuing development

[2019-02-18 22:09] eguil commented on #74
Option added and input arguments slightly revisited:
[code]

[2019-02-18 22:33] eguil commented on #75
Currently using a small test suite of 24 months of IPSL-CM5A-LR. Numbers to check are average T and S on sigma grid as well as integral volume on source z, source rho and target rho.

[2019-02-18 22:35] eguil commented on #71
see #74

[2019-02-18 22:35] #71 closed

[2019-02-18 22:38] eguil commented on #59
Try new zonal mean calculation - see issue #71

[2019-02-18 23:15] eguil commented on #74
Tested and ok

[2019-02-28 01:25] durack1 commented on #74
@eguil I'm still hitting problems with this:
[code]

[2019-03-05 22:15] eguil commented on #74
@durack1 can you put the files somewhere on crunchy ? It is probably due to non CMOR format. Is the temperature variable name thetao ?

[2019-03-05 22:52] durack1 commented on #74
@eguil it still seems to be an issue:
[code]

I'll email the paths to data

[2019-03-05 23:26] eguil commented on #74
is the call you make to density bin correct (arguments have been re-organised) ?

[2019-03-05 23:31] durack1 commented on #74
@eguil looks right to me:
[code]
https://github.com/eguil/Density_bining/blob/master/binDensity.py#L244-L266
[code]

[2019-03-07 11:17] eguil commented on #74
ok I managed to run my latest version of binDensity (i.e. without your last changes) on the first year of EN4 and it is running. Here is my test script:
[code]
Not sure what is going on on your side. Maybe we should do a call with screen sharing.

[2019-03-07 17:00] durack1 commented on #74
@eguil what the the version of CDAT that you're running this against? A conda env?

[2019-03-07 17:47] eguil commented on #74
an old PMP installation version

[2019-03-07 17:56] durack1 commented on #74
Got any more details? If it's conda (probably not), you can peruse through /work/eguilyardi/anaconda2/envs/ - if it's CICLAD (looks like it), I'm not sure..

[2019-03-07 18:09] eguil commented on #74
I am running on ciclad and it is not a conda install.

[2019-03-07 20:49] durack1 commented on #74
Probably time to make the change, [download anaconda](https://www.anaconda.com/distribution/#download-section)

[code]

[2019-03-07 21:31] ysilvy commented on #74
Eric I don’t know if this can help but we can actually easily create conda environments on Ciclad, I’ve been testing it with simple stuff and installing new packages which seems to work, should we test that option ? That way we should be able to install the new version of cdat

[2019-03-07 23:42] durack1 commented on #74
@ysilvy it's a good move to update yourselves and the way you work. Creating conda environments means that you can have versions side by side, which is a real advantage, particularly as new/beta releases become available where you can validate older libraries/code works

[2019-03-15 15:42] eguil commented on #74
Ok I managed to sync again binDensity on Crunchy. I will try there.

[2019-03-15 20:38] durack1 commented on #74
@eguil let me know

[2019-03-16 22:03] eguil commented on #74
Ok let's try that (I will transfer all the EN4 data). I can now sync git on crunchy but the python is now v3 and binDensity is v2. Where is the cdat that would work for python2 ?

[2019-03-16 23:12] eguil commented on #74
the program is running on ciclad (old set up) but I have issues with the negative masking values in En4. Is it easy to change this in the files or should I work around in the code ?

[2019-03-17 00:00] durack1 commented on #74
@eguil make sure you included the `"python<3"` from the https://github.com/eguil/Density_bining/issues/74#issuecomment-470688515, otherwise it will default to py3

[2019-03-17 13:29] eguil commented on #74
I know this is confusing but my previous comment was for my tests on crunchy where I did not install CDAT.

[2019-03-18 15:30] durack1 commented on #74
@eguil I'm having trouble following the thread of this discussion above, facetime/skype?

[2019-04-18 10:58] eguil opened #79 "areacello wrong for EN4"
There is factor ~300 in the areacello of obs.EN4.historical.r0i0p0.mo.ocn.Omon.areacello.ver-1.latestX.nc

[2019-04-18 11:01] eguil opened #80 "Check units in WOA file"
area unit wrong (km2 rather than m2),
check scale factors

[2019-04-30 01:18] durack1 commented on #80
@eguil yep, it seems there are mixed units, just need to change the order of magnitude of https://github.com/eguil/Density_bining/blob/master/obs/make_areacello.py#L31

[2019-04-30 09:53] eguil opened #81 "Computation of bowl and persistence has issues"
A review of the the persistence and bowl computation is needed.

Running April 20th version on Eric's ciclad account (old CDAT) and drive_IPSL.py 1 year test leaves a few places with non filled points on bowl (zero value for T,S, sigma, depth,... see for instance a ncview of ptop<var>xy). Need to investigate why.

Running  the same version with the new CDAT8.1 installation on Yona's account (but f

[2019-04-30 09:58] eguil commented on #69
```conda create -n cdat81py2 -c cdat/label/v81 -c conda-forge cdat "python<3"```

[2019-04-30 09:58] eguil commented on #74
closing this

[2019-04-30 09:58] #74 closed

[2019-04-30 10:00] eguil commented on #69
Yona started testing binDensity.py on ciclad with new install. A number of issues have been flagged in other issues.
Once we have a running version with no bugs on yona@ciclad, we will update ericglod@ciclad

[2019-05-01 16:19] durack1 commented on #79
@eguil what are the dates of the erroneous file? This is what I am working with (latest)
[code]

[2019-05-01 18:19] eguil commented on #79
I believed I copied this one:
-rwxrwxr-x. 1  52K 2019-03-05 14:49:27.540365647 -0800 obs.EN4.historical.r0i0p0.mo.ocn.Omon.areacello.ver-1.latestX.nc

[2019-05-01 18:32] durack1 commented on #80
@eguil
[code]

[2019-05-01 19:39] durack1 commented on #79
[code]
This should resemble the WOA18 number of (see https://github.com/eguil/Density_bining/issues/80#issuecomment-488370264)
[code]
so we clearly have a problem here, it seems the maps look right, just the units/magnitude has an issue:
EN4
![obs EN4 historical r0i0p0 mo ocn Omon areacello ver-1 latestX](https://user-images.githubusercontent.com/3229632/57038145-0cb45e80-6c0e-11e9-89a7-edee8f909a

[2019-05-01 21:32] durack1 commented on #79
Revised EN4:
![190501-obs EN4 historical r0i0p0 mo ocn Omon areacello ver-1 latestX](https://user-images.githubusercontent.com/3229632/57043983-f7dfc700-6c1d-11e9-8a89-a315d7d7be02.png)

[2019-05-07 17:36] durack1 commented on #80
@eguil @ysilvy there should be two PRs (Pull Requests) ready for either of you to merge that resolves both issues - I've left them as unmerged PRs so you can double check this solves the two issues

[2019-05-07 17:36] durack1 commented on #80
FYI they're at https://github.com/eguil/Density_bining/pull/82 and https://github.com/eguil/Density_bining/pull/83 respectively

[2019-05-07 22:00] durack1 commented on #69
@eguil @ysilvy let me know if there are specific issues that need some assistance

[2019-05-07 22:16] ysilvy commented on #69
@durack1 We might need your input on a few issues we are encountering running my version with cdat8.1 on Ciclad that don't seem to be there when running on Eric's environment -- we'll let you know

[2019-05-07 22:17] durack1 commented on #69
@ysilvy no problem. Let me know if a telecon/skype would be helpful, I'm almost back on top of emails and your draft paper is next in the queue

[2019-05-07 22:27] ysilvy commented on #69
@durack1 Great to hear :) and yep, it might be useful to catch up at some point, and know more about the specifics of the new cdat

[2019-05-21 17:12] #80 closed

[2019-05-21 17:12] #79 closed